body {
    background-color: rgb(255, 255, 255);
    margin: 0%;
    padding: 0%;
    width:100%;
    box-sizing: border-box;
}
body, h1, h2, h3, p, ul, li, span {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
img.logo{
    max-width: 35px;
    display: inline-block;
    vertical-align: top;
}
.header-wrapper{
    display: block;
    height: 60px;
    width: 100%;
    background-color: rgb(4, 25, 44);
    color: rgb(255, 255, 255);
    margin: auto;
    padding: 10px 5px 5px 10px;
    box-sizing: border-box;
}
.hw-left{
    display: inline-block;
    width: 15%;
    /* background-color: rgb(255, 255, 255); */
    vertical-align: middle;
}
.hw-mid{
    display: inline-block;
    width: 60%;
    margin: auto;
    vertical-align: middle;
    /* background-color: bisque; */
}
.hw-right{
    display: inline-block;
    width: 24%;
    min-height: 1px;
    /*background-color: blanchedalmond;*/
}
div.control-panel{
    background-color: #10857f;
    display: flex;
    box-sizing: border-box;
    height: 50px;
    align-items: center;
    /* justify-content: center; */
    padding: 0% 5%;
}
div.main-left{
    display: inline-block;
    width: 70%;
    min-height: 80vh;
}
div.main-right{
    display: inline-block;
    width: 30%;
    height: 100%;
}
main{
    padding-bottom: 5vh;
}
/* ---- table stylings ---- */
#data_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
}
#data_table td, #data_table th {
border: 1px solid #000000;
padding: 2px;
/* background-color: white; */
}
#data_table tr:nth-child(even){background-color: #fff2db;}
#data_table tr:hover {background-color: #ddd;}
#data_table th {
padding-top: 4px;
padding-bottom: 4px;
text-align: left;
background-color: #14161a;
color: white;
font-size: 14px;
}
footer {
    background-color: #333; /* Set the background color */
    color: #fff; /* Set the text color */
    padding: 10px; /* Add some padding for spacing */
    text-align: center; /* Center the text */
    position: fixed; /* Fixed position at the bottom */
    width: 100%; /* Full width */
    bottom: 0; /* Stick to the bottom */
}