<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='media/site/logo1_sqr.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<div id="loading"></div>
<body id="portal">
    <header id="portal_header">
        <div class="navbar-wrapper">
            <div class="navbar-section">
                <div class="navbar-section-left">
                    <a href="/"><img class="navbar-logo" src="{{ url_for('static', filename='media/site/logo1w.png') }}" alt="logo"/></a>
                </div>
                <div class="navbar-section-middle">
                    <div class="navbar_midmenu">
                        <a href="/">Home</a>
                        <a href="/about">About</a>
                        <a href="/services">Services</a>
                    </div> 
                    <!-- {% block nav_middle %}                    
                    {% endblock nav_middle %} -->
                </div>
                <div class="navbar-section-right">
                    {% block nav_right %}  
                    {% endblock nav_right %}
                </div>  
            </div>
        </div>
    </header>
    <!-- <div class="header-gap" style="min-height: 10vh;"> -->
    <!-- </div> -->
    {% block main %}{% endblock main %}
    <footer>
        <p class="footer">&copy; 2023 AmazonX. All rights reserved.</p>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</body>
</html>