<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Sensor Reading Application</title>
</head>
<body>
    <header>
        <div class="header-wrapper">
            <div class="hw-left">
                <img src="{{url_for('static',filename='media/flow_sensor1.png')}}" alt="logo image" class="logo">
                <h3 style="display: inline-block; font-size: 25px; margin-top: 0px;">aaa aaan  </h3>
            </div>
            <div class="hw-mid">
                <h2 style="font-size: 25px;">Sensor Reading Application</h2>
            </div>
            <div class="hw-right">
            </div>
        </div>
    </header>
    <main>
        {% block main %}
        {% endblock main %}
    </main>
    <footer>
        <div class="footer-wrapper">
            <p>Copyrights IIT-BBSR 2024</p>
        </div>
    </footer>
</body>
</html>