<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Sensor Reading Application</title>
</head>
<body>
    <header>
        <div class="header-wrapper">
            <div class="hw-left">
                <img src="{{url_for('static',filename='media/flow_sensor1.png')}}" alt="logo image" class="logo">
                <h3 style="display: inline-block; font-size: 25px; margin-top: 0px;"></h3>
            </div>
            <div class="hw-mid">
                <h3 style="font-size: 25px;">Sensor Reading Application</h3>
            </div>
            <div class="hw-right">
            </div>
        </div>
        <div class="control-panel">
            <form action="/" method="POST" class="controls">
                <label for="date-from">Date From: </label>
                <input type="date" name="date-from" id="date-from" value="{{ data['date_from'] }}" required>

                <label for="date-To">Date To: </label>
                <input type="date" name="date-to" d="date-to" value="{{ data['date_to'] }}" required>

                <label for="select-sensor">Sensor Type: </label>
                <select name="sensor-type" id="select-sensor" required>
                    <option value="%">All Selected</option Selected>
                    <option value="Test Sensor">Test Sensor</option>
                    <option value="Force Sensor">Force Sensor</option>
                    <option value="Temperature Sensor">Temperature Sensor</option>
                    <option value="Fluid Sensor">Fluid Sensor</option>
                  </select>

                <input type="submit" name="submit" value="Submit">
                <input type="submit" name="download" value="Download" >
            </form>
        </div>
    </header>
    <main>
        <div class="main-left">
            <h3>Showing Data for {{ data['sensor_type'] }}, From: {{ data['date_from'] }} To: {{ data['date_to'] }}</h3><br>
            {{ table_data|safe}}
        </div>
    </main>
    <footer>
        <div class="footer-wrapper">
            <p>Copyrights 2024</p>
        </div>
    </footer>
</body>
</html>